<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Smart Parking - Mobile</title>
    <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/mobile.base.css">
    <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/mobile.home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="<%= baseUrl %>/images/icon192x192.png">
    <script src="<%= baseUrl %>/scripts/mobile.functions.js"></script>
    
</head>

<body>

    <div id="load"></div>

    <div id="mobile" class="mobile">
        <div id="header" class="card">
            <h1>Smart Parking</h1>
            <input type="checkbox" name="" id="dark-mode-btn" class="dark-mode-btn">
            <h1 id="logout" class="bi bi-box-arrow-left"></h1>
        </div>

        <section class="card">
            <h3>Simulación de reservas</h3>
            <div>
                <button id="button1" class="button">Solicitar reserva</button>
                <button id="button2" class="button">Cancelar reserva</button>
                <button id="button3" class="button">Marcar llegada</button>
            </div>
        </section>

        <section class="card">
            <h3>Simulación de ingreso y salida</h3>
            <div>
                <button id="button4" class="button">Solicitar ingreso</button>
                <button id="button5" class="button">Marcar salida</button>
            </div>
        </section>

        <section class="card">
            <h3>Respuesta del servidor</h3>
            <div id="response"></div>
        </section>
    </div>
</body>

<script src="/socket.io/socket.io.js"></script>

<script>

    let vehicles = []

    window.addEventListener("load", async (e) => {

        const load = document.getElementById('load')
        const mobile = document.getElementById('mobile')

        e.preventDefault()
        const token = localStorage.getItem("token")

        if (!token) {
            window.location.href = "<%= baseUrl %>/api/mobile"
        }

        let res = await fetch("<%= baseUrl %>/api/auth/confirm-session", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            },
        })

        if (!res.ok) {
            window.location.href = "<%= baseUrl %>/api/mobile"
        }

        res = await fetch("<%= baseUrl %>/api/users/profile/",{
            method:'GET',
            headers:{
                Authorization:`Bearer ${token}`
            }
        })

        const { user } = await res.json()
        vehicles = user.vehicles
        
        mobile.style.display = "flex"
        load.style.display = "none"
    })
    
    const socket = io("<%= baseUrl %>")
    const button = document.getElementById("button1")
    const button2 = document.getElementById("button2")
    const button3 = document.getElementById("button3")
    const button4 = document.getElementById("button4")
    const button5 = document.getElementById("button5")
    const logoutbtn = document.getElementById("logout")

    logoutbtn.addEventListener("click", async (e) => {

        const token = localStorage.getItem("token")

        const res = await fetch("<%= baseUrl %>/api/auth/logout", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            },
        })

        if (res.ok) {
            localStorage.removeItem("token")
            window.location.href = "<%= baseUrl %>/api/mobile"
        } else {
            setResponse("Error al cerrar sesión")
        }
    })

    button.addEventListener("click", async (event) => {

        event.preventDefault()
        const token = localStorage.getItem("token")
        selectVehicle(vehicles)
        socket.emit("user-reservation-req", { token, patente: "ACXB42" })
    })

    button2.addEventListener("click", async (event) => {
        event.preventDefault()
        const token = localStorage.getItem("token")
        socket.emit("user-cancel-reservation", { token })
    })

    button3.addEventListener("click", async (event) => {
        event.preventDefault()
        const token = localStorage.getItem("token")
        socket.emit("user-reservation-arrival", { token })
    })

    button4.addEventListener("click", async (event) => {
        event.preventDefault()
        const token = localStorage.getItem("token")
        socket.emit("user-access-req", { token, patente: "ACXB42" })
    })

    button5.addEventListener("click", async (event) => {
        event.preventDefault()
        const token = localStorage.getItem("token")
        socket.emit("user-exit-req", { token })
    })

    socket.on("reservation-ok", ({ message }) => {
        setResponse(message)
    })

    socket.on("reservation-denied", ({ message }) => {
        setResponse(message)
    })

    socket.on("reservation-cancel-ok", ({ message }) => {
        setResponse(message)
    })

    socket.on("reservation-cancel-denied", ({ message }) => {
        setResponse(message)
    })

    socket.on("reservation-arrival-ok", ({ message }) => {
        setResponse(message)
    })

    socket.on("reservation-arrival-denied", ({ message }) => {
        setResponse(message)
    })

    socket.on("parking-access-ok", ({ message }) => {
        setResponse(message)
    })

    socket.on("parking-access-denied", ({ message }) => {
        setResponse(message)
    })

    socket.on("parking-exit-ok", ({ message }) => {
        setResponse(message)
    })

    socket.on("parking-exit-denied", ({ message }) => {
        setResponse(message)
    })

    const body = document.body
    const mobile = document.getElementById('mobile')
    const darkModeBtn = document.getElementById('dark-mode-btn')

    darkModeBtn.addEventListener('change', () => {
        
        const darkMode = darkModeBtn.checked
    
        if (darkMode) {
            body.classList.add('dark-mode')
        } else {
            body.classList.remove('dark-mode')
        }
    })

    const selectVehicle = (vehicles) => {
        
        const existingDialog = document.getElementById("dialog")
        patente = vehicles[0]

        if (existingDialog) {
            existingDialog.close()
            existingDialog.remove()
        }

        body.style.opacity = "0.2"

        const dialog = document.createElement("dialog")
        dialog.id = "vehicles-dialog"
        
        const vehiclesHtml = vehicles.map(vehicle => `
            <div class="vehicle">
                <h4>${vehicle.model}</h4>
                <h5>${vehicle.patente}</h5>
            </div>
        `).join("")

        dialog.innerHTML = `
            <h3>Seleccione un vehículo</h3>
            <div id="vehicles-cont" style="grid-template-columns: repeat(${vehicles.length}, 1fr)">
                ${vehiclesHtml}
            </div>
        `

        body.appendChild(dialog)
        dialog.showModal()

        dialog.addEventListener("mousedown", (e) => {
            if (e.target === dialog) {
                dialog.close()
                dialog.remove()
                body.style.opacity = "1"
            }
        })
    }

</script>

</html>