<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Smart Parking - Mobile</title>
    <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/mobile.login.css">
    <link rel="stylesheet" href="<%= baseUrl %>/stylesheets/mobile.base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="<%= baseUrl %>/images/icon192x192.png">
    <script src="<%= baseUrl %>/scripts/mobile.functions.js"></script>
</head>

<body>

    <div id="load"></div>

    <div id="mobile" class="mobile">
        <div id="main-cont">
            <form id="form-login">
                <div id="logo-cont">
                    <img src="<%= baseUrl%>/images/logo-blue.png" alt="SmartParking Logo" width="150" height="150">
                    <div id="res-cont"></div>
                </div>
                <div id="response"></div>
                <input id="email" type="email" placeholder="Correo electrónico">
                <input id="password" type="password" placeholder="Contraseña">
                <button id="button-1">Iniciar sesión</button>
            </form>
            <div style="margin: 2rem 0;" id="a-cont">
                <a href="<%= baseUrl %>/api/auth/forgot-password">¿Olvidaste tu contraseña?</a>
                <a href="<%= baseUrl %>/api/mobile/register">Registrarme</a>
            </div>
        </div>
    </div>

</body>

<script>

    window.addEventListener("load", async () => {

        const load = document.getElementById('load')
        const mobile = document.getElementById('mobile')

        if (localStorage.getItem("token")) {

            const token = localStorage.getItem("token")
            const res = await fetch("<% baseUrl %>/api/auth/confirm-session", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            })

            if (res.ok) {
                window.location.href = "<%= baseUrl %>/api/mobile/home"

            } else {
                localStorage.removeItem("token")
                load.style.display = "none"
                mobile.style.display = "flex"
            }
        }

        load.style.display = "none"
        mobile.style.display = "flex"
    })

    const button = document.getElementById("button-1")

    button.addEventListener("click", async (e) => {

        e.preventDefault()

        const email = document.getElementById("email").value
        const password = document.getElementById("password").value

        if (!email || !password) {
            setResponse("No puedes dejar espacios en blanco")
            return
        }

        if (!isValidEmail(email)) {
            setResponse("El correo electrónico no es válido")
            return
        }

        const data = {
            email,
            password
        }

        const res = await fetch("<%= baseUrl %>/api/auth/login", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },

            body: JSON.stringify(data)
        })

        const result = await res.json()

        if (res.ok) {
            localStorage.setItem("token", result.token)
            window.location.href = "<%= baseUrl %>/api/mobile/home"

        } else {
            setResponse(result.message)
        }
    })

</script>

</html>